# Enable URL rewriting
RewriteEngine On

# Redirect all requests to home.php unless the request is for a specific file or directory
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^$ home.php [L]
